<h2>Login Form</h2>

  <div class="imgcontainer">
    <img src="https://cdn.pixabay.com/photo/2017/03/21/13/27/evil-2162179_960_720.png" alt="Avatar" class="avatar">
  </div>


    <div class="container">
      <label><b>Username</b></label>
      {{input type="text" value=userName}}

      <label><b>Password</b></label>
      {{input type="password" value=password}}


      <button {{action 'login'}}>login</button>
      <label>
        {{input type="checkbox" checked="checked"}} Remember me
      </label>
    </div>

  <div class="container" style="background-color:#f1f1f1">

    <span class="psw">Forgot <a href="#">passord?</a></span>
  </div>
